<app-page-header [title]="pageTitle"></app-page-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let file of fileList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ file.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>{{ file.content }}</ion-card-content>
          <div class="card-footer">
            <div class="actions">
              <ion-button fill="clear" class="action-btn" (click)="editFile(file)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" color="danger" class="action-btn" (click)="confirmDelete(file)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="newFile()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
