<app-page-header [title]="pageTitle"></app-page-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">File Name</ion-label>
    <ion-input [(ngModel)]="fileName" [disabled] = "isFileNameDisabled"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">File Content</ion-label>
    <ion-textarea [(ngModel)]="fileContent"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="saveFile()">{{ buttonState }}</ion-button>
</ion-content>

